# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# These files should be imported through build scripts instead of being committed.
public/static/webmelon.js
public/static/wasmemulator.js
public/static/wasmemulator.wasm

# This should be added and updated automatically by scripts
src/webmelon.d.ts