.settings-box-container {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  height: 60vh;
  max-height: 60vh;
  margin-top: 5px;
}

.settings-menu {
  min-width: 200px;
}

.settings-item {
  margin: 10px;
  flex-grow: 5;
  overflow-x: scroll;
  overflow-y: scroll;
}